
<div class="general-form">
  <%= form_for @match.games.new do |f| %>
    <%= f.submit "Submit", class: "button is-primary" %><br><br>
    <% @game_items.in_groups_of(2, false).each do |group| %>
      <div class="columns">
        <% group.each do |game_item| %>
          <div class="column">
            <div class="card general_card">
              <div class="card-header">
                <div class="card-header-title">
                  <%= f.radio_button :game_item_id, game_item.id %>
                  <%= game_item.name %>
                </div>
              </div>
              <br>
              Question: <%= game_item.question %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
