<h1>Choose the game you want</h1><br>

<div class="general-form">
  <%= form_for @match.games.new do |f| %>
    <%= f.submit "Submit", class: "button is-primary" %><br><br>
    <% @game_items.in_groups_of(2, false).each do |group| %>
      <div class="columns">
        <% group.each do |game_item| %>
          <div class="column">
            <div class="card general_card">
              <%= f.radio_button :game_item_id, game_item.id %>
              Game: <%= game_item.name %>
              <br>
              Question: <%= game_item.question %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
