
Choose the competitor <br><br>
<div>
  <%= form_for Match.new do |f| %>
    <%= f.submit "Submit", class: "button is-primary"%><br><br>
    <div class="columns">
      <div class="column">
        Owner teams<br><br>
        <% @owner_teams.each do |owner_team| %>
          <%= f.radio_button :owner_team_id, owner_team.id %>
          Name: <%= owner_team.name %>
          <br>
          Host: <%= owner_team.user.first_name%>
          <br>
          Teammate: <%= owner_team.teammate.first_name%>
          <br><br>
        <% end %>
      </div>

      <br><br><br>
      <div class="column">
        Guest team<br><br>
        <% @guest_teams.each do |guest_team| %>
          <%= f.radio_button :guest_team_id, guest_team.id %>
          Name: <%= guest_team.name %>
          <br>
          Host: <%= guest_team.user.first_name%>
          <br>
          Teammate: <%= guest_team.teammate.first_name%>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
</div>