<!DOCTYPE html>
<html>
  <head>
    <title>QuaMetMoi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <% if current_user %>
        <div class="navbar-brand">
          <!-- navbar items, navbar burger... -->
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item">
              <%= link_to "Choose teammate", users_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "Choose competitor",new_match_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "Choose game",new_game_path %>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <%= link_to "Log out", logout_path %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <%= link_to "Sign Up",new_user_path %>
            </div>
            <div class="navbar-item">
              <%= link_to "Log in", login_path %>
            </div>
          </div>
        </div>
      <% end %>
    </nav>
    <%= flash_messages %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
