<!DOCTYPE html>
<html>
  <head>
    <title>QuaMetMoi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!-- navbar items, navbar burger... -->
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            <%= link_to "All Users", users_path %>
          </div>
          <div class="navbar-item">
            <%= link_to "All Matches", matches_path %>
          </div>
          <div class="navbar-item">
            <%= link_to "All Game items", game_items_path %>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <%= link_to "Create User",new_user_path %>
          </div>
          <div class="navbar-item">
            <%= link_to "Create team",new_team_play_path %>
          </div>
          <div class="navbar-item">
            <%= link_to "Create match",new_match_path %>
          </div>
        </div>
      </div>
    </nav>

    <%= flash_messages %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
